.card {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.top {
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
	align-items: center;
	gap: 36px;
}

.back-btn {
	border: none;
	background-color: var(--white-color);
	width: 36px;
	height: 36px;
	box-shadow: 5px 10px 20px 0 rgba(211, 209, 216, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.cart {
	display: flex;
	align-items: center;
	gap: 14px;
}

.content-wrapper {
	display: flex;
	gap: 40px;
}

.image {
	width: 323px;
	height: 248px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.line {
	display: flex;
	justify-content: space-between;
	min-width: 298px;
}

.text {
	font-weight: 400;
	font-size: 16px;
	color: var(--text-color);
}

.price {
	font-size: 20px;
}

.price span {
	color: #9796a1;
}

.rating {
	background: var(--white-color);
	padding: 3px 8px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 12px;
	color: #111719;
	box-shadow: 0 6px 24px 0 rgba(254, 114, 76, 0.2);
}

.list {
	padding-left: 20px;
}

.ingr {
	font-weight: 600;
	font-size: 14px;
	color: #5b5b5e;
}

.list-item {
	font-weight: 400;
	font-size: 14px;
	color: #5b5b5e;
}
